.containerCard{
    width: 100%;
    background-color: white;
    padding: .4rem;
    border-radius: .4rem;
    display: flex;
    justify-content: space-between;   
}

.actionCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.actionCard button:hover{
    cursor: pointer;
}